doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description", content="")
    meta(name="author", content="")
    title Resume - Start Bootstrap Theme
    link(rel="icon" type="image/x-icon" href="assets/img/favicon.ico")
    // Font Awesome icons
    script(src="https://use.fontawesome.com/releases/v6.3.0/js/all.js", crossorigin="anonymous")
    // Google fonts
    link(href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700", rel="stylesheet", type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i", rel="stylesheet", type="text/css")
    // Core theme CSS
    link(href="css/styles.css" rel="stylesheet")

  body#page-top
    // Navigation
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top#sideNav
      a.navbar-brand.js-scroll-trigger(href="#page-top")
        span.d-block.d-lg-none Said Yosin Burkhani
      button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse(id="navbarResponsive")
        ul.navbar-nav
          li.nav-item
            a.nav-link.js-scroll-trigger(href="#about") About
          li.nav-item
            a.nav-link.js-scroll-trigger(href="#experience") Experience
          li.nav-item
            a.nav-link.js-scroll-trigger(href="#education") Education
          li.nav-item
            a.nav-link.js-scroll-trigger(href="#skills") Skills
          li.nav-item
            a.nav-link.js-scroll-trigger(href="#interests") Interests
          li.nav-item
            a.nav-link.js-scroll-trigger(href="#awards") Awards

    // Page Content
    .container-fluid.p-0
      // About
      section.resume-section#about
        .resume-section-content
          h1.mb-0
            | Burkhani 
            span.text-primary Said Yosin
          .subheading.mb-5
            | 10019 Umbrella Place · Nokesville, VA 20181 · (240) 869-8008 · 
            a(href="mailto:sy2001.uz@gmail.com") sy2001.uz@gmail.com
          p.lead.mb-5
            | I am a dedicated IT professional with a passion for networking, system administration, and cloud 
            | solutions. With hands-on experience in troubleshooting hardware and software issues, implementing 
            | network infrastructures, and supporting users across diverse industries, I excel at bridging technical 
            | expertise with customer service. Over the years, I’ve contributed to critical projects, from establishing 
            | enterprise-level networks to streamlining operations with innovative SaaS solutions. Whether it’s solving 
            | complex technical challenges or assisting end-users, I thrive on delivering reliable solutions that drive 
            | efficiency and success. My goal is to leverage my technical skills and dedication to detail in roles that 
            | shape the future of IT.
          .social-icons
            a.social-icon(href="https://www.linkedin.com/public-profile/settings?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_self_edit_contact-info%3BZt9lb%2BHhSNWFXn1Rprb%2BWw%3D%3D")
              i.fab.fa-linkedin-in
            a.social-icon(href="https://github.com/Knowledgeseeker2022")
              i.fab.fa-github
            a.social-icon(href="https://x.com/SayeedBurkhani")
              i.fab.fa-twitter
            a.social-icon(href="https://www.facebook.com/sayyidyasin.burhani")
              i.fab.fa-facebook-f
      hr.m-0

      // Experience
      section.resume-section#experience
        .resume-section-content
          h2.mb-5 Experience
          // 1) Volunteer IT Technician
          .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
              h3.mb-0 Volunteer IT Technician
              .subheading.mb-3 Holiday Inn Chantilly
              ul
                li Provided on-call IT support for Holiday Inn Chantilly, resolving hardware, software, and network-related issues.
                li Diagnosed and fixed system issues, ensured uninterrupted access to cloud services, and maintained the property's IT infrastructure.
                li Assisted with network troubleshooting, including wireless connectivity and device configuration.
                li Practiced and honed skills in cloud-based solutions, IT support, and system management in a professional environment.
            .flex-shrink-0
              span.text-primary September 2022 - Present

          // 2) Logistics Coordinator and System Administrator
          .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
              h3.mb-0 Logistics Coordinator and System Administrator
              .subheading.mb-3 Golden Tree Cargo
              ul
                li Managed logistics operations for a U.S.-based trucking company, coordinating with brokers and clients, including Amazon, UPS, and FedEx.
                li Negotiated contracts and optimized delivery schedules, ensuring efficient operations and high-profit margins.
                li Onboarded new employees by installing and configuring required software, setting up accounts, and providing training on tools such as Microsoft Office and SaaS platforms.
                li Troubleshot and resolved system, software, and networking issues, ensuring uninterrupted operations for the dispatch team.
                li Assisted with VOIP systems connected to the U.S. office, resolving connectivity issues and enhancing communication efficiency.
                li Developed centralized SaaS solutions to streamline document access and management for all employees.
                li Led training sessions to enhance employees' technical proficiency with new and existing software.
            .flex-shrink-0
              span.text-primary December 2019 - May 2022

          // 3) Assistant Computer Technician
          .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
              h3.mb-0 Assistant Computer Technician
              .subheading.mb-3 YUSE Company
              ul
                li Diagnosed and repaired hardware and software issues for desktops, laptops, and mobile devices.
                li Replaced defective components such as screens, hard drives, and processors using specialized tools.
                li Provided on-site and remote customer support, including troubleshooting operating systems and resolving networking issues.
                li Designed and implemented network solutions, including cabling, patching, and configuring devices.
                li Contributed to two government projects and one business project by establishing networks from scratch (cabling to final configuration).
                li Performed additional repairs on peripheral devices such as printers, fans, and household electronics, ensuring full functionality.
            .flex-shrink-0
              span.text-primary July 2016 - December 2019

          // 4) Car Mechanic Intern
          .d-flex.flex-column.flex-md-row.justify-content-between
            .flex-grow-1
              h3.mb-0 Car Mechanic Intern
              .subheading.mb-3 Yunusabad Car Center
              ul
                li Acquired hands-on experience in troubleshooting and repairing automotive issues.
                li Repaired and restored old vehicles, including engine maintenance, electrical systems, and bodywork.
                li Collaborated with senior mechanics to diagnose and resolve mechanical faults efficiently.
                li Developed a strong foundation in problem-solving and technical skills applicable to system diagnostics.
            .flex-shrink-0
              span.text-primary September 2015 - June 2016
      hr.m-0

      // Education
      section.resume-section#education
        .resume-section-content
          h2.mb-5 Education
          .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
              h3.mb-0 Northern Virginia Community College
              .subheading.mb-3 Associate Degree
              div Information Technology
              p GPA: 4.00
            .flex-shrink-0
              span.text-primary August 2023 - May 2025

          .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .flex-grow-1
              h3.mb-0 Amity University in Tashkent
              .subheading.mb-3 Bachelor of Science
              div Information Technology
              p GPA: 3.64
            .flex-shrink-0
              span.text-primary August 2020 - May 2022

          .d-flex.flex-column.flex-md-row.justify-content-between
            .flex-grow-1
              h3.mb-0 Tashkent Economical College
              .subheading.mb-3 Accounting and Audit
              p GPA: 3.36
            .flex-shrink-0
              span.text-primary September 2016 - June 2019
      hr.m-0

      // Skills
      section.resume-section#skills
        .resume-section-content
          h2.mb-5 Skills
          .subheading.mb-3 Programming Languages & Tools
          ul.list-inline.dev-icons
            li.list-inline-item
              i.fab.fa-html5(title="HTML5")
            li.list-inline-item
              i.fab.fa-css3-alt(title="CSS3")
            li.list-inline-item
              i.fab.fa-python(title="Python")
            li.list-inline-item
              i.fab.fa-java(title="Java")
            li.list-inline-item
              i.fab.fa-js-square(title="JavaScript")
            li.list-inline-item
              // Note: You can embed an <img> in Pug simply by adding the attrs below
              img(src="/src/assets/icons/MongoDB.png" alt="MongoDB" title="MongoDB" style="width: 80px;")
            li.list-inline-item
              i.fas.fa-network-wired(title="Network+")
            li.list-inline-item
              img(src="/src/assets/icons/ccna-icon.png" alt="CCNA" title="CCNA" style="width: 40px;")
            li.list-inline-item
              i.fab.fa-aws(title="Amazon Cloud")
            li.list-inline-item
              i.fab.fa-microsoft(title="Azure Fundamentals (AZ-900)")
            li.list-inline-item
              i.fas.fa-shield-alt(title="Security+")
            li.list-inline-item
              i.fas.fa-file-excel(title="Excel")
            li.list-inline-item
              i.fas.fa-file-powerpoint(title="PowerPoint")
            li.list-inline-item
              i.fas.fa-file-word(title="Microsoft Office")

          .subheading.mb-3 Workflow
          ul.fa-ul.mb-0
            li
              span.fa-li
                i.fas.fa-check
              | Designing and implementing network infrastructures (LAN/WAN, cabling, and patching).
            li
              span.fa-li
                i.fas.fa-check
              | System troubleshooting and user support for hardware and software issues.
            li
              span.fa-li
                i.fas.fa-check
              | Project management for IT infrastructure and security compliance (CCNA, Network+, Security+).
            li
              span.fa-li
                i.fas.fa-check
              | Proficient in Office Suite: Excel, Word, and PowerPoint for reporting and documentation.
            li
              span.fa-li
                i.fas.fa-check
              | Strong focus on customer service and cross-functional team collaboration.
      hr.m-0

      // Interests
      section.resume-section#interests
        .resume-section-content
          h2.mb-5 Interests
          p
            | I am passionate about expanding my knowledge through reading a diverse range of books, including topics 
            | like spirituality, philosophy, the meaning of life, science fiction, autobiographies, psychology, and 
            | technology. My interests also extend to exploring the IT industry, particularly emerging fields such as 
            | machine learning, robotics, and cybersecurity. I find joy in discovering new ideas and staying updated 
            | on the latest technological advancements, constantly seeking to deepen my understanding of both ethical 
            | and non-ethical hacking and other innovative domains.
          p.mb-0
            | Outside of intellectual pursuits, I focus on maintaining a balanced lifestyle by staying active and 
            | connecting with others. I enjoy outdoor activities such as hiking, biking, and running, adapting to 
            | seasonal opportunities to stay physically fit. Additionally, I value meaningful conversations that 
            | expand my perspective, whether they involve relationship-building with family and friends or 
            | thought-provoking discussions with others. These activities fuel my curiosity and drive for both 
            | personal and professional growth."
      hr.m-0

      // Awards
      section.resume-section#awards
        .resume-section-content
          h2.mb-5 Awards & Certifications
          ul.fa-ul.mb-0
            li
              span.fa-li
                i.fas.fa-star
              | IT Certifications:
            li
              span.fa-li
                i.fas.fa-shield-alt.text-warning
              | Comptia Security+
            li
              span.fa-li
                i.fas.fa-network-wired.text-warning
              | CCNA
            li
              span.fa-li
                i.fas.fa-project-diagram.text-warning
              | Comptia Network+
            li
              span.fa-li
                i.fab.fa-microsoft.text-warning
              | Azure Administrator Associate AZ-104
            li
              span.fa-li
                i.fab.fa-aws.text-warning
              | AWS Associate - Cloud Practitioner
            li
              span.fa-li
                i.fab.fa-microsoft.text-warning
              | Azure Fundamentals AZ-900
            li
              span.fa-li
                i.fab.fa-aws.text-warning
              | AWS Fundamentals - Cloud Practitioner
            li
              span.fa-li
                i.fas.fa-laptop-code.text-warning
              | Successful Completion of One Million Uzbek Coders - Full Stack
            li
              span.fa-li
                i.fas.fa-book.text-warning
              | Completion of many online courses: HackTheBox, Udemy, Coursera, and more

            p
            li
              span.fa-li
                i.fas.fa-star
              | Non-IT Awards:
            li
              span.fa-li
                i.fas.fa-award.text-warning
              | Multiple Holiday Inn Certificates (Housekeeping to Executives)
            li
              span.fa-li
                i.fas.fa-trophy.text-warning
              | Two years in a row: Best Asset of Company - Golden Tree Cargo
            li
              span.fa-li
                i.fas.fa-graduation-cap.text-warning
              | Participant of Academic Scholars of Central Asia
            li
              span.fa-li
                i.fas.fa-star.text-warning
              | Talented Youth of Uzbekistan
            li
              span.fa-li
                i.fas.fa-futbol.text-warning
              | 
                | 1
                sup st
                |  Place - Soccer Competition (Yunusabad)
            li
              span.fa-li
                i.fas.fa-medal.text-warning
              | 
                | 2
                sup nd
                |  Place - Kickboxing Tournament (Tashkent)
            li
              span.fa-li
                i.fas.fa-dumbbell.text-warning
              | 
                | 1
                sup st
                |  Place - Aikido Tournament (Tashkent)
            li
              span.fa-li
                i.fas.fa-hand-rock.text-warning
              | 
                | 3
                sup rd
                |  Place - Martial Arts Tournament (Tashkent)
            li
              span.fa-li
                i.fas.fa-certificate.text-warning
              | Excellent Completion Certifications (Grades 4, 5, 6)
            li
              span.fa-li
                i.fas.fa-medal.text-warning
              | 
                | 4
                sup th
                |  Grade Successful Student Medal

            p
            li
              span.fa-li
                i.fas.fa-star
              | Volunteer Projects:
            li
              span.fa-li
                i.fas.fa-tree.text-warning
              | Greening of the City of Tashkent
            li
              span.fa-li
                i.fas.fa-hands-helping.text-warning
              | Helping Elders Project
            li
              span.fa-li
                i.fas.fa-road.text-warning
              | Aiding Youth on Their Life Path
            li
              span.fa-li
                i.fas.fa-gift.text-warning
              | Donation for Orphanage Project
            li
              span.fa-li
                i.fas.fa-place-of-worship.text-warning
              | Help on Building Religious Sites Projects

    // Bootstrap core JS
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js")
    // Core theme JS
    script(src="js/scripts.js")
